{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block content %}

<div class="container" style="background-color: rgba(226, 217, 217, 0.233);">

<div class="row">


  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    {% if user.bio %}
      <p> {{user.bio}}</p>

    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}

    {% if user == current_user %}
      <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
    {% endif %}

  </div>
  <div class="col-md-4">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">

    {%else%}
    <p>No profile picture</p>

    {% endif %}

      {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">
      {% endif %}

    </form>
  </div>


</div>

</div>
<div class="row" style="background-color: rgba(219, 212, 212, 0.377);">
 
    <div class="col-md-12">
      <h1 class="text-center">  Blog:</h1>
      {% for post in posts %}
      <div class="thumbnail text-center">
          <div class="card">
    <h5 class="card-header">{{post.author}}</h5>
    <h5 class="card-header">{{post.category}}</h5>
    <h7 class="card-header">Posted on: {{post.date_posted }}</h7>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 20px;">{{post.description}}</h2>
              <footer> Posted by {{post.user.username}}</footer>
      </blockquote>
        
          
			
        <a class= "btn btn-primary btn-sm" href="{{ url_for('main.update_post', post_id=post.id) }}">Edit</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
    
        <div class="modal fade" id="deleteModal">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to Delete this Post?</h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                   
                </button>
                </div>
                <div class="modal-footer">
                <button type="button" data-dismiss="modal">Cancel</button>
                <br>
                <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                </div>
            </div>
            </div>
        </div>

        {% endfor %}
      
      </div>
  </div>
</div>
  

   
</div>
</div>