{% macro display(posts) %}
<div class="row">
	{% if posts %}
		{% for posts in post %}

				
			 <a href="{{url_for('main.new_comment',post_id = posts.id)}}" class="btn btn-info">Comment <span>{{posts.comments.count()}}</span></a>
				

			</div>
		</div>

		</div>
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %} 



{% macro displayComment(comments) %}
<ul>

			{% if comments %}
			{% for comment in comments %}
				<div class="row text-center">
						<p style="color: rgb(43, 226, 226); font-size: 24px;">{{ comment.content }}</p>
						<small>Posted by : {{comment.name}}</small>
						
				</div>
			{% endfor %}
			{% else %}

			<h3>No Comments Yet! !</h3>
			{%endif%}

	</ul>
	
			
{% endmacro %}